.image-container {
  width: 300px; /* Set your fixed width */
 
  overflow: hidden; /* Hide any overflow */
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.para_::first-line{
  margin-left: 20px !important;
}
.para_{
  display: flex;
  text-align: justify;
}

@media (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .container_loog{
    justify-content: center !important;
    align-items: center !important;
  }
}
